/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1775px) {
	.header__wrap .logo {
		margin-right: 5px;
	}
	.menu > li {
		margin-left: 15px;
	}
	.header .social-list {
		margin-right: 20px;
		margin-left: 8px;
	}
	.info-article {
		margin-left: 0;
	}
}
@media only screen and (max-width : 1660px) {
	.logo img {
		max-width: 300px;
	}
	.menu > li > a {
		font-size: 15px;
	} 
	.phone-main {
		font-size: 17px;
	}
}
@media only screen and (max-width : 1600px) {
	.title-big {
		font-size: 85px;
	}
	.item-activity {  
		padding: 35px 47px;
	}
	.text-big {
		font-size: 18px;
	}
	.slider-news {
		margin-left: calc((100% - 1140px)/2);
	}
	.wrap-arrows .slick-prev {
		left: -38px;
	}
	.wrap-arrows .slick-next {
		right: -61px;
	}
	.footer__bottom p {
		margin-right: 23px;
	}
	.footer__title {
		font-size: 20px;
	}
	.container-fluid {
		padding: 0 30px;
	}
	.special-descr {
		font-size: 28px;
		line-height: 36px;
		bottom: -19px;
	}
	.descr-big {
		font-size: 23px;
	}
	.title-block {
		font-size: 23px;
	}
	.item-billbord {
		padding-top: 70px;
		height: 610px;
	}
	.item-activity p {
		margin-bottom: 40px;
	}
	.slick-arrow {
		width: 70px;
		height: 70px;
		font-size: 30px !important;
	}
	.item-advantage {
		font-size: 17px;
		line-height: 22px;
	}
	.title-section {
		font-size: 50px;
	}
	.btn_top {
		right: 50px;
	}
	.slider-news .item-news {
		width: 370px;
	}
	.item-news__image {
		height: 245px;
	}
	.title-small {
		font-size: 18px;
	}
	.head-section {
		margin-bottom: 0;
	}
	.about {
		padding-bottom: 50px;
	}
	.form-block {
		padding: 55px 110px;
	}
	.advantages_page .item-advantage {
		font-size: 16px;
	}
	.row_news .item-news .title-small {
		font-size: 21px;
	}
	.article {
		font-size: 16px;
	}
	.article blockquote,
	.text-advantages {
		font-size: 21px;
	}
	.item-form textarea, .item-form input,
	.item-form .jq-selectbox__select-text {
		font-size: 16px;
	}
	.item-history__year {
		font-size: 25px;
		line-height: 39px;
		padding: 3px 21px;
		margin-right: 14px;
	}
	.item-history__title {
		font-size: 24px;
		margin-bottom: 13px;
	}
	.item-history p {
		font-size: 15px;
	}
	.slider-life__item {
		width: 465px;
		height: 365px;
	}
	.slider-life .slick-prev {
		left: 100px;
	}
	.slider-life .slick-next {
		right: 100px;
	}
	.item-question__head {
		font-size: 21px;
	}
	.info-block {
		padding: 40px 40px;
		padding-bottom: 50px;
		padding-right: 30px;
	}
	.item-company {
		margin-right: 11px;
	}
	.companies__more {
		font-size: 14px;
	}
	.leasing-block {
		padding-left: 80px;
	}
	.menu ul a {
		font-size: 18px;
		height: 70px;
	}
	.menu__icon {
		width: 75px;
	}
	.menu ul {
		width: 435px;
		left: -40px;
	}
	.slider-history li {
		width: 392px;
	}
}
@media only screen and (max-width : 1510px) {
	.logo img {
		max-width: 265px;
	}
}
@media only screen and (max-width : 1455px) {
	.logo img {
		max-width: 228px;
	}
	.menu > li > a {
		font-size: 14px;
	}
	.header .social-list {
		margin-right: 15px;
	}
	.social-list a {
		margin-left: 12px;
	}
	.container-fluid {
		padding: 0 20px;
	}
	.phone-main {
		font-size: 16px;
	}
	.info-article {
		display: none;
	}
	.slick-prev {
		left: 20px;
	}
	.slick-next {
		right: 20px;
	}

}
@media only screen and (max-width : 1330px) {
	.logo img {
		max-width: 200px;
	}
	body {
		font-size: 14px;
	}
	.footer__contacts {
		font-size: 13px;
		line-height: 21px;
	}
	.footer__contacts div a {
		margin-right: 5px;
	}
	.item-service__head {
		font-size: 23px;
	}
	.menu > li > a {
		font-size: 13px;
	}
	.phone-main {
		font-size: 14px;
	}
	.header .social-list a {
		margin-left: 5px;
	}
	.slick-prev {
		left: 10px;
	}
	.slick-next {
		right: 10px;
	}
	.item-billbord {
		padding-left: 80px;
	}
	.title-big {
		font-size: 80px;
	}
	.policy {
		padding-left: 80px;
	}
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.header__wrap .btn-search,
	.header__wrap .social-list,
	.header__wrap .menu {
		display: none;
	}
	.phone-main img {
		display: inline-block;
	}
	.phone-main {
		margin-right: 28px;
		font-size: 0;
		line-height: 0;
	}
	.btn_nav {
		display: inline-block;
	}
	.container-fluid {
		padding: 0 15px;
	}
	.header__wrap .logo {
		margin-right: auto;
	}
	.header {
		padding: 13px 0;
	}
	.advantages-wrap > .row {
		padding: 15px 0;
		flex-wrap: nowrap;
		white-space: nowrap;
		overflow: auto;
		border-bottom: 1px solid #ECF0F6;
	}
	.advantages-wrap > .row::-webkit-scrollbar {
		-webkit-appearance: none;
		padding: 0;
		height: 0;
	}
	.advantages-wrap > .row::-webkit-scrollbar:vertical {
		width: 0px;
	}
	.advantages-wrap > .row ::-webkit-scrollbar:horizontal {
		height: 0px;
	}
	.advantages-wrap > .row::-webkit-scrollbar-thumb {
		background-color: transparent;
		border-radius: 0px;
	}
	.table-wrap::-webkit-scrollbar-track {
		border-radius: 0px;
		background-color: #ccc;
	}
	.item-advantage {
		font-size: 14px;
		line-height: 17px;
	}
	.advantages-wrap {
		padding: 0;
		margin-bottom: 15px;
		border: none;
	}
	.title-big {
		font-size: 61px;
		line-height: 74px;
	}
	.special-descr {
		font-size: 21px;
		line-height: 32px;
		bottom: -14px;
	}
	.descr-big {
		font-size: 20px;
	}
	.slick-dots li button {
		width: 5px;
		height: 5px;
	}
	.slick-dots li button:hover, .slick-dots li.slick-active button {
		background-color: #c4c4c4;
		transform: scale(2);
		border: 1px solid #F1121F;
	}
	.title-section {
		font-size: 30px;
		line-height: 30px;
		margin-bottom: 22px;
	}
	.title-block {
		font-size: 18px;
		line-height: 18px;
	}
	.item-activity {
		font-size: 13px;
		line-height: 14px;
		min-height: 125px;
		padding: 23px 22px;
		padding-right: 118px;
	}
	.item-activity__image {
		transform: scale(0.5);
		transform-origin: 100% 100%; 
	}
	.row_activities > div {
		margin-bottom: 2px;
	}
	.item-activity p {
		max-width: 100%;
		margin-bottom: 0;
	}
	.item-activity .link-main {
		position: absolute;
		top: 0;
		left: 0;
		border: none;
		width: 100%;
		height: 100%;
		font-size: 0;
		z-index: 2;
	}
	.row_activities {
		margin: 0 -1px;
	}
	.row_activities > div {
		padding: 0 1px;
	}
	.activities {
		padding-top: 10px;
	}
	.about .title-section {
		display: flex;
	}
	.about .title-section img {
		max-width: 144px;
		margin-left: 15px;
	}
	.about__left {
		padding-right: 15px;
	}
	.slick-dots li {
		width: 5px;
		height: 5px;
	}
	.slick-dots {
		padding: 8px 25px;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: fit-content;
	}
	.slider-images .slick-dots {
		left: 0;
	}
	.text-big {
		font-size: 16px;
		line-height: 17px;
	}
	body {
		line-height: 16px;
	}
	.text-middle {
		font-size: 16px;
		line-height: 18px;
	}
	.text-middle p, .gray-text p, .text-big p {
		margin-bottom: 14px;
	}
	.link-main {
		font-size: 12px;
	}
	.title-middle {
		font-size: 24px;
		line-height: 28px;
	}
	.about .title-middle {
		padding-top: 30px;
		padding-bottom: 25px;
	}
	.item-service__head {
		font-size: 18px;
	}
	.item-service__content {
		display: block;
	}
	.item-service__text {
		font-size: 13px;
		line-height: 14px;
		padding-right: 0;
	}
	.btn-page {
		font-size: 13px;
		line-height: 20px;
		height: 30px;
		padding: 0 20px;
	}
	.item-service .btn-page {
		width: 100%;
		margin-top: 15px;
	}
	.item-service__head img {
		max-width: 33px;
		margin-right: 20px;
	}
	.item-service {
		border: none;
		padding-top: 0;
		padding-bottom: 15px;
	}
	.about {
		padding-bottom: 25px;
	}
	.head-section {
		margin-bottom: 15px;
	}
	.slider-news .item-news {
		width: 290px;
		margin-right: 10px;
	}
	.date-main {
		font-size: 10px;
		line-height: 12px;
	}
	.slider-news {
		margin-left: 15px;
	}
	.item-news__image {
		height: 195px;
		margin-bottom: 14px;
	}
	.title-small {
		font-size: 16px;
		line-height: 18px;
		margin-bottom: 14px;
	}
	.text-main {
		font-size: 13px;
		line-height: 15px;
	}
	.btn_top {
		width: 28px;
		height: 28px;
		font-size: 15px;
		right: 15px;
		top: -41px;
	}
	.footer .logo img {
		max-width: 174px;
	}
	.footer .social-list a img {
		max-width: 17px;
	}
	.footer {
		padding-top: 25px;
		padding-bottom: 25px;
	}
	.footer__top {
		padding-bottom: 25px;
		margin-bottom: 25px;
	}
	.col-footer {
		width: 100%;
		padding: 0 15px;
	}
	.footer__content {
		display: none;
	}
	.footer__title {
		font-size: 16px;
		margin-top: 20px;
		margin-bottom: 7px;
	}
	.footer__title_mob {
		padding: 14px 0;
		margin: 0;
		font-size: 16px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid #707889;
	}
	.footer br {
		display: none;
	}
	.footer__bottom {
		font-size: 11px;
		line-height: 14px;
		margin-top: 20px;
		padding-top: 20px;
		flex-direction: column;
		align-items: flex-start;
	}
	.footer__bottom p {
		margin-right: 0;
	}
	.footer__bottom a {
		margin-left: 0;
		margin-top: 6px;
	}
	.footer__bottom a {
		font-size: 12px;
		line-height: 19px;
	}
	.footer__title i {
		display: inline-block;
		transition: all 0.3s;
		color: #9a9ea5;
	}
	.footer__title.active i {
		transform: rotate(180deg);
		color: #fff;
	}
	.item-service__head span {
		padding-bottom: 3px;
	}
	.footer__nav li {
		margin-top: 6px;
	}
	.footer__nav {
		padding-top: 6px;
	}
	.wrapper {
		padding-top: 58px;
	}
	.header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 1000;
		background-color: #fff;
	}
	.menu-mobile {
		padding-top: 12px;
		padding-left: 12px;
		padding-right: 33px;
		padding-bottom: 45px;
		position: absolute;
		top: 0;
		left: 0;
		background-color: #fff;
		box-shadow: 0 0 35px #5e5e5e;
		height: 100vh;
		width: calc(100vw - 60px);
		overflow: auto;
		display: none;
	}
	.search-block {
		margin-bottom: 15px;
		position: relative;
	}
	.search-block input {
		font-size: 13px;
		line-height: 16px;
		padding-right: 40px;
		letter-spacing: -0.01em;
		color: #4A4C4E;
		background: #F5F6F8;
		border: none;
		width: 100%;
		height: 43px;
		padding: 0 30px;
		border-radius: 8px;
		font-family: 'Inter';
		position: relative;
	}
	.search-block__btn {
		position: absolute;
		top: 0;
		right: 0;
		width: 50px;
		height: 100%;
		background-color: transparent;
		background-image: url(../img/search.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 13px 13px;
		border: none;
	}
	.nav-mobile {
		margin-bottom: 35px;
	}
	.nav-mobile > li > a {
		font-size: 17px;
		line-height: 20px;
		padding: 17px 10px;
		padding-right: 30px;
		font-weight: 500;
		color: #000;
		position: relative;
		display: block;
		border-bottom: 1px solid #ECF0F7;
	}
	.nav-mobile > .nav-mobile__haschild > a::after {
		position: absolute;
		display: block;
		content: " ";
		width: 6px;
		height: 9px;
		background-image: url(../img/arrow_menu.svg);
		background-repeat: no-repeat;
		background-position: center;
		top: 0;
		right: 10px;
		bottom: 0;
		margin: auto;
	}
	.phone-menu {
		font-size: 20px;
		line-height: 20px;
		font-weight: 700;
		letter-spacing: -0.02em;
		color: #000000;
		display: inline-block;
	}
	.menu-mobile .phone-menu {
		margin-bottom: 17px;
	}
	.menu-mobile .btn-page {
		margin-bottom: 55px;
	}
	.menu-copyright {
		font-size: 11px;
		line-height: 13px;
		letter-spacing: -0.01em;
		max-width: 195px;
		color: #8C9198;
	}
	.menu-mobile .social-list {
		margin: 0;
		margin-bottom: 16px;
	}
	.menu-mobile .social-list li a {
		margin-left: 0;
		margin-right: 15px;
	}
	.menu-mobile__top {
		margin-right: -20px;
		margin-bottom: 18px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.menu-mobile__top .phone-main {
		margin-right: 0;
	}
	.nav-mobile__dropdown {
		position: absolute;
		top: 60px;
		left: 0;
		width: 100%; 
		background-color: #fff;
		min-height: 705px;
		display: none;
		z-index: 20;
	}
	.nav-mobile__title {
		font-size: 17px;
		line-height: 20px;
		padding: 12px 55px;
		padding-right: 15px;
		font-weight: 500;
		margin-bottom: 15px;
		background-color: #F5F6F8;
		cursor: pointer;
		background-image: url(../img/arrow_left.svg);
		background-repeat: no-repeat;
		background-position: 30px center;
	}
	.nav-mobile__dropdown ul {
		padding: 0 30px;
	}
	.nav-mobile__dropdown li a {
		font-size: 17px;
		padding: 25px 0;
		font-weight: 500;
		border-bottom: 1px solid #ECF0F7;
		color: #000;
		display: flex;
		align-items: center;
	}
	.menu__icon {
		width: 25px;
		flex: none;
		margin-right: 10px;
	}
	.menu__icon img {
		max-width: 100%;
		height: auto;
		max-height: 100%;
	}
	.article blockquote, .text-advantages {
		font-size: 16px;
		line-height: 19px;
	}
	.title-main {
		font-size: 30px;
		line-height: 30px;
		padding-bottom: 20px;
	}
	.text-min {
		font-size: 13px;
		line-height: 16px;
		margin-bottom: 20px;
	}
	.activities {
		padding-bottom: 25px;
	}
	.title-page {
		font-size: 30px;
		line-height: 32px;
		padding-bottom: 15px;
	}
	.descr-page {
		font-size: 13px;
		line-height: 15px;
	}
	.breadcrumbs {
		display: none;
	}
	.billbord-page {
		padding-top: 33px;
		padding-bottom: 40px;
		min-height: 160px;
		background-position: 70% 50%;
		position: relative;
	}
	.billbord-page::before {
		position: absolute;
		display: block;
		content: " ";
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: linear-gradient(247.13deg, #120C25 10.75%, rgba(18, 23, 34, 0) 61.26%);
		transform: matrix(-1, 0, 0, 1, 0, 0);
	}
	.advantages_page .item-advantage {
		font-size: 14px;
	}
	.advantages_page .advantages-wrap {
		padding: 15px 0;
		margin-bottom: 15px;
	}
	.about-info {
		padding-bottom: 30px;
	}
	.contacts {
		padding-top: 0;
	}
	.contact-block .col-lg-7 {
		order: -1;
	}
	.contact-block__address {
		font-size: 16px;
	}
	.contact-block__time {
		font-size: 11px;
		line-height: 13px;
		padding-bottom: 16px;
	}
	.title-contact {
		font-size: 12px;
		line-height: 14px;
		padding-bottom: 4px;
	}
	.phone-contact {
		font-size: 16px;
	}
	.contact-block__item {
		margin-bottom: 14px;
	}
	.map-main {
		margin-bottom: 18px;
		height: 170px;
	}
	.contact-block {
		padding-bottom: 0;
		margin-bottom: 20px;
		border: none;
	}
	.form-block {
		padding: 15px 15px;
		padding-bottom: 45px;
		margin: 0 -15px;
	}
	.title-content {
		font-size: 24px;
		line-height: 28px;
	}
	.form-block .title-content {
		padding-bottom: 15px;
	}
	.item-form {
		margin-bottom: 15px;
	}
	.item-form textarea {
		height: 80px;
	}
	.input-capcha {
		font-size: 16px;
		height: 50px;
	}
	.capcha-value {
		height: 50px;
		padding-left: 22px;
		text-align: left;
		justify-content: space-between;
	}
	.right-form {
		padding-top: 15px;
		flex-direction: column-reverse;
		flex-wrap: wrap;
	}
	.right-form .btn-main {
		margin: 0;
		width: 100%;
	}
	.form-agreement {
		text-align: center;
		max-width: 100%;
		margin-top: 12px;
	}
	.section-form {
		padding-bottom: 0;
	}
	.contacts {
		padding-bottom: 20px;
	}
	.contact-block .btn-page {
		width: 100%;
	}
	.advantages-section .col-lg-7 {
		order: -1;
	}
	.slider-life,
	.slider-gallery {
		margin: 0 -15px;
		padding-bottom: 40px;
	}
	.slider-life__item {
		margin: 0;
	}
	.slider-life__item,
	.slider-gallery__item {
		height: 180px;
		width: 290px;
		margin-right: 1px;
	}
	.slider-life .slick-dots,
	.slider-gallery .slick-dots {
		bottom: 10px;
		background-color: transparent;
	}
	.slider-life .slick-dots li button,
	.slider-gallery .slick-dots li button {
		background-color: #E2E2E2;
	}
	.slider-life .slick-dots li button:hover, 
	.slider-life .slick-dots li.slick-active button,
	.slider-gallery .slick-dots li button:hover, 
	.slider-gallery .slick-dots li.slick-active button {
		background-color: #fff;
	}
	.advantages_page {
		padding-bottom: 20px;
	}
	.advantage-unit__title {
		font-size: 18px;
		line-height: 18px;
		margin-bottom: 6px;
	}
	.advantage-unit__icon {
		margin-top: 0;
		margin-right: 16px;
	}
	.advantages-section {
		padding-bottom: 10px;
	}
	.brands {
		padding-bottom: 30px;
	}
	.brands .row {
		margin: 0 -5px;
	}
	.brands .row > div {
		padding: 0 5px;
	}
	.item-brand {
		height: 75px;
		padding: 15px 34px;
		margin-bottom: 10px;
	}
	.item-brand .link-main {
		position: absolute;
		z-index: 10;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		font-size: 0;
		border: none;
		opacity: 0;
	}
	.menu-overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
	.title-common {
		font-size: 18px;
		line-height: 18px;
	}
	.maintenance-block {
		padding: 20px 40px;
		padding-right: 25px;
		padding-bottom: 26px;
	}
	.maintenance-block .col-lg-4 {
		order: -2;
	}
	.maintenance-block img {
		max-width: 35px;
		margin: 0;
		margin-bottom: 11px;	
	}
	.maintenance-block .btn-main {
		width: 100%;	
		max-width: 240px;
	}
	.maintenance {
		padding-bottom: 35px;
	}
	.contact-block .btn-page {
		margin-bottom: 15px;	
	}
	.subtitle-main {
		margin-bottom: 10px;
	}
	.descr-subtitle,
	.subtitle-main {
		font-size: 15px;
		line-height: 21px;
	}
	.billbord-page_about .subtitle-main {
		padding-top: 7px;
	}
	.advantages_page .advantages-wrap {
		padding: 0;
	}
	.article blockquote::before {
		top: 21px;
		left: 0;
		font-size: 110px;
		line-height: 50px;
	}
	.article blockquote {
		padding-left: 40px;
		margin-top: 0;
		margin-bottom: 15px;
	}
	.article_about blockquote > span {
		font-size: 14px;
		line-height: 18px;
	}
	.bottom-blockquote-wrap {
		padding-left: 40px;
		justify-content: flex-start;
	}
	.descr-blockquote {
		font-size: 12px;
		line-height: 14px;
		margin-bottom: 5px;
	}
	.name-blockquote {
		font-size: 16px;
	}
	.article {
		padding-bottom: 15px;
	}
	.team {
		padding-top: 15px;
		padding-bottom: 25px;
	}
	.row_team {
		margin: 0 -7px;
	}
	.row_team > div {
		padding: 0 7px;
	}
	.item-team__image {
		height: 205px;
		max-width: 190px;
	}
	.item-team__name {
		font-size: 15px;
	}
	.item-team__descr {
		font-size: 11px;
		line-height: 13px;
	}
	.item-team {
		margin-bottom: 25px;
	}
	.team .title-content {
		padding-bottom: 20px;
	}
	.item-history {
		display: block;
	}
	.item-history__year {
		display: inline-block;
		font-size: 18px;
		line-height: 28px;
		padding: 1px 11px;
		margin-right: 0;
	}
	.item-history__content {
		margin-top: 11px;
	}
	.item-history__title {
		font-size: 16px;
		line-height: 17px;
	}
	.item-history p {
		font-size: 13px;
		line-height: 14px;
	}
	.slider-history li {
		width: 50vw;
	}
	.slider-history {
		padding: 0;
		margin-bottom: 22px;
	}
	.scrollbar {
		max-width: 100%;
		margin-bottom: 40px;
	}
	.history .title-section {
		margin-bottom: 20px;
	}
	.slider-history::before {
		top: 18px;
	}
	.video-block__image {
		height: 255px;
	}
	.video-block__content {
		padding-top: 25px;
		padding-left: 160px;
		padding-right: 30px;
	}
	.video-block__title {
		font-size: 18px;
		line-height: 18px;
		margin-bottom: 6px;
	}
	.logo-video img {
		max-width: 69px;
	}
	.logo-video {
		margin-bottom: 13px;
	}
	.video-block .descr-subtitle {
		font-size: 11px;
		line-height: 13px;
		margin-bottom: 20px;
	}
	.video-block .btn-main {
		height: 30px;
		padding: 0 11px;
		font-size: 12px;
		line-height: 16px;
		border-radius: 4px;
		padding-right: 14px;
		white-space: nowrap;
	}
	.history {
		padding-bottom: 32px;
	}
	.documents {
		padding: 30px 0;
		padding-bottom: 50px;
	}
	.row_documents > div {
		margin-top: 10px;
	}
	.documents .title-section {
		margin-bottom: 15px;
	}
	.documents .descr-subtitle,
	.documents .descr-documents {
		display: none;
	}
	.unit-document {
		padding: 25px;
	}
	.unit-document__title {
		font-size: 16px;
		margin-left: 40px;
	}
	.unit-document__icon img {
		max-width: 33px;
	}
	.unit-document__icon {
		top: 21px;
		left: 21px;
	}
	.unit-document__descr {
		font-size: 10px;
		line-height: 12px;
	}
	.unit-document .btn-page {
		width: 88px;
	}
	.video-block {
		max-width: 400px;
	}
	.article .title-main {
		padding-top: 10px;
		font-size: 27px;
		line-height: 30px;
	}
	.article .date-main {
		font-size: 12px;
		line-height: 13px;
	}
	.article .slider-gallery .slider-gallery__item {
		height: 180px;
	}
	.article .slider-gallery {
		margin-top: 20px;
		margin-bottom: 10px;
	}
	.offer-news .title-main {
		font-size: 27px;
		line-height: 30px;
		padding-top: 0;
		border: none;
	}
	.row_news .item-news .title-small {
		font-size: 16px;
		line-height: 18px;
	}
	.offer-news .row_news .item-news .title-small {
		margin-bottom: 0;
	}
	.offer-news .row_news .text-main {
		display: none;
	}
	.offer-news .row_news > div:nth-child(3) {
		display: none;
	}
	.row_news > div {
		margin-bottom: 20px;
	}
	.more-button {
		padding-top: 10px;
	}
	.offer-news {
		padding-bottom: 60px;
	}
	.advantages_simple {
		padding-top: 20px;
	}
	.policy {
		padding: 30px 25px;
		padding-bottom: 24px;
		min-height: initial;
		margin-bottom: 10px;
	}
	.policy__title {
		font-size: 20px;
		line-height: 20px;
		margin-bottom: 15px;
	}
	.policy__icon img {
		max-width: 55px;
	}
	.policy ul {
		font-size: 14px;
		line-height: 17px;
		margin-bottom: 20px;
	}
	.policy .btn-page {
		width: 100%;
		height: 40px;
	}
	.policy__descr {
		margin-bottom: 15px;
	}
	.policies {
		padding-bottom: 27px;
	}
	.advantage-unit__title br {
		display: none;
	}
	.advantage-unit {
		margin-bottom: 25px;
	}
	.info-insurance__image {
		width: 90px;
		height: 90px;
		margin-right: 24px;
	}
	.info-insurance {
		padding: 17px 16px;
		display: block;
	}
	.info-insurance__descr {
		font-size: 13px;
		line-height: 14px;
		margin-bottom: 10px;
	}
	.info-insurance__name {
		font-size: 18px;
	}
	.info-insurance__description {
		margin-left: 110px;
		margin-top: -80px;
		min-height: 75px;
	}
	.info-insurance .btn-main {
		height: 40px;
		width: 100%;
	}
	.info-insurance__text {
		text-align: center;
		font-size: 13px;
		line-height: 15px;
	}
	.info-insurance__phone {
		text-align: center;
		display: block;
		margin: 3px 0;
	}
	.companies {
		margin-bottom: 30px;
		display: block;
		text-align: center;
	}
	.companies__wrap {
		justify-content: center;
	}
	.item-company {
		margin: 5px;
	}
	.companies__more {
		margin-top: 10px;
	}
	.advantages_simple ~ .advantages-section {
		padding-top: 15px;
	}
	.info-insurance__description {
		margin-top: 0;
		margin-left: 0;
		margin-bottom: 15px;
		min-height: initial;
	}
	.row_top-insurance .info-insurance__name {
		margin-left: -15px;
	}
	.info-insurance__description {
		font-size: 13px;
		line-height: 16px;
		color: #4A4C4E;
	}
	.info-insurance__bottom {
		display: block;
	}
	.info-insurance_leasing .info-insurance__phone {
		margin-bottom: 0;
		margin-top: 0;
	}
	.info-insurance_leasing .info-insurance__text {
		margin-bottom: 7px;
	}
	.leasing-block {
		padding: 30px;
		font-size: 13px;
		margin-bottom: 10px;
		line-height: 16px;
		min-height: initial;
	}
	.leasing-block__head {
		margin-bottom: 24px;
	}
	.services-leasing {
		padding-bottom: 30px;
	}
	.leasing-block .btn-main {
		width: 100%;
	}
	.leasing-block .link-more {
		margin: auto;
	}
	.link-more i {
		top: 0;
	}
	.subsidy-block__image {
		position: absolute;
		top: 25px;
		right: 25px;
	}
	.subsidy-block__image img {
		max-width: 60px;
	}
	.subsidy-block {
		padding: 30px;
		font-size: 15px;
		position: relative;
	}
	.subsidy-block__wrap {
		display: block;
	}
	.subsidy-block .title-common {
		padding-right: 60px;
	}
	.subsidy-block ul {
		font-size: 14px;
		line-height: 21px;
	}
	.subsidies {
		padding-bottom: 25px;
	}
	.advantage-unit_simple .advantage-unit__icon {
		margin-top: 0 !important;
		margin-right: 16px;
	}
	.advantages-section .title-main {
		padding-bottom: 26px;
	}
	.info-insurance_main .info-insurance__content {
		max-width: 100%;
		margin-left: 110px;
		margin-top: -80px;
		min-height: 75px;
		margin-bottom: 25px;
		padding-right: 0;
	}
	.info-insurance_main .btn-main {
		margin-bottom: 7px;
	}
	.info-insurance_main {
		margin-bottom: 20px;
	}
	.news-page .title-main {
		padding-bottom: 15px;
	}
	.news-page {
		padding-top: 15px;
	}
	.more-button .btn-page {
		height: 40px;
	}
	.life .title-main {
		padding-bottom: 15px;
	}
	.life {
		padding-top: 10px;
		padding-bottom: 15px;
	}
	.item-question__head {
		font-size: 18px;
		line-height: 18px;
		padding-left: 30px;
		position: relative;
		display: block;
	}
	.item-question__head img {
		position: absolute;
		top: 0;
		left: 0;
	}
	.item-question__top {
		display: block;
	}
	.item-question__head span {
		padding-bottom: 0;
	}
	.item-question__value {
		font-size: 18px;
	}
	.item-question__title {
		font-size: 16px;
		padding-bottom: 5px;
	}
	.item-question__text {
		padding-left: 0;
		margin-bottom: 15px;
	}
	.info-block__value {
    font-size: 16px;
    margin-bottom: 15px;
}
.info-block {
	padding: 30px;
}
.info-block .btn-page {
	width: 100%;
	height: 40px;
}
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.item-billbord .title-big {
		max-width: 395px;
	}
	.modal-wrap {
		padding: 55px 25px;
		min-height: 100vh;
	}
	.header {
		z-index: 10000;
	}
	.fancybox-wrap {
		top: 59px !important;
		left: 0 !important;
		width: 100% !important;
		position: fixed !important;
		overflow: auto !important;
	}
	.fancybox-inner {
		width: 100% !important;
	}
	.modal-wrap .title-content {
		font-size: 17px;
		line-height: 20px;
		padding: 10px 55px;
		padding-right: 10px;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background-color: #f5f6f8;
		background-image: url(../img/arrow_left.svg);
		background-repeat: no-repeat;
		background-position: left 30px center;
	}
	.descr-modal {
		font-size: 13px;
		line-height: 16px;
		margin-bottom: 20px;
	}
	.fancybox-close {
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 40px;
		opacity: 0;
	}
	#thanks img {
		margin-top: 88px;
		max-width: 30px;
	}
	.top-slide {
		font-size: 8px;
		line-height: 10px;
		margin-bottom: 15px;
	}
	.top-slide img {
		max-width: 93px;
		margin-right: 14px;
	}
	.billbord-page__links {
		flex-direction: column;
		align-items: center;
	}
	.billbord-page__links .btn-page {
		margin-right: 0;
		margin-bottom: 15px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.fancybox-type-iframe .fancybox-inner {
		height: auto !important;
	}
	.fancybox-type-iframe iframe{
		width: calc(100vw - 40px);
		height: calc(100vw/1.77);
	}
	.item-billbord {
		padding: 30px;
	}
	.item-billbord {
		height: 500px;
	}
	.dots-wrap {
		left: 0;
		right: 0;
		margin: 0 auto;
		width: fit-content;
	}
	.special-descr {
		right: -10px;
	}
	.item-activity {
		min-height: 110px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.title-big {
		font-size: 38px;
		line-height: 36px;
	}
	.item-billbord {
		padding: 35px 20px;
		height: 325px;
	}
	.special-descr {
		font-size: 14px;
		line-height: 20px;
	}
	.item-billbord .title-big {
		max-width: 271px;
	}
	.special-descr {
		bottom: -18px;
	}
	.descr-big {
		font-size: 16px;
		line-height: 18px;
		margin-bottom: 28px;
	}
	.btn-main {
		font-size: 14px;
		height: 40px;
		padding: 0 24px;
	}
	.dots-wrap {
		bottom: 14px;
	}
	.slider-images__image {
		height: 225px;
	}
	.slider-images::after {
		width: 5px;
		height: 21px;
		top: -6px;
		right: 19px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.menu-mobile {
		display: none !important;
	}
}
@media (min-width: 1600px) {
	.container {
		max-width: 1320px;
	}
}